.inputoption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: grey;
    cursor: pointer;
    padding: 10px;
}
.inputoption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.inputoption > h4{
    margin-left: 5px;
}
